KEYCLOAK_URL=replace-with-your-keycloak-url
KEYCLOAK_REALM=replace-with-your-keycloak-realm
KEYCLOAK_ADMIN_CLIENT_ID=replace-with-your-admin-client-id
ADMIN_REALM_ROLES=CRM
API_BASE_URL_CRM=replace-with-your-crm-backend-url
TENANT_ADMIN_ROLE_CRM=CRM
